__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv
*.egg-info/
dist/
build/

.env
.DS_Store
*.log

data/raw/*
data/processed/*
data/labeled/*
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/labeled/.gitkeep

data/model_artifacts/*
!data/model_artifacts/.gitkeep

mlruns/
.ipynb_checkpoints/
*.ipynb

.vscode/
.idea/
